.modal-layer{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 150vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-add {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    background-color: #212529;
    border: 0;
    border-radius: 3px;

}
.modal-add-title {
    display: flex;
    flex-direction: row;
    background-color: #343B41;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
}
.modal-add form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    color: white;
}
.modal-add form input {
    background-color: #343B41 ;
    border-radius: 3px;
    border: 1px solid #F8F9FA;
    height: 36px;
    box-sizing: border-box;
    margin: 12px 0;
    color: white;
    font-size:14px;
    padding-left: 8px;
}
.modal-add select {
    background-color: #343b41;
    border-radius: 3px;
    border:1px solid #f8f9fa;
    height: 36px;
    box-sizing: border-box;
    margin: 12px 0;
    color:white;
}
.modal-add label {
    font-size: 12px;
}
.modal-add button {
    height: 38px;
    border-radius: 3px;
    border: 0;
    color: white;
    background-color: #FF577F;
    margin: 16px 0;
}
.modal-add-title button {
    padding: 3px 7px;
    border: 0;
    border-radius: 3px;
    color: #868E96;
    background-color:#343B41 ;
    margin: 0;
}