.card {
    justify-content: space-between;
    background-color: #121214;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    color: white;
    display: flex;
    padding: 6px;
    margin: 2px;
    width: 100%;
    border: 0;
    font-size: 14px;
}
.card:hover {
    cursor: pointer;
    background-color: #343B41;
}
.modal-edit-layer {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 150vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-edit {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    background-color: #212529;
    border: 0;
    border-radius: 3px;
    align-items: center;
}
.modal-edit-title {
    display: flex;
    flex-direction: row;
    background-color: #343B41;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    width: 100%;
}
.modal-edit form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    width: 100%;
}
.modal-edit form label {
    font-size: 12px;
}
.modal-edit form p {
    background-color: #343B41 ;
    border-radius: 3px;
    border: 1px solid #F8F9FA;
    height: 36px;
    box-sizing: border-box;
    margin: 12px 0;
    display: flex;
    align-items: center;
    padding-left:8px;
    font-size: 14px;
}
.modal-edit form select {
    background-color: #343b41;
    border-radius: 3px;
    border:1px solid #f8f9fa;
    height: 36px;
    box-sizing: border-box;
    margin: 12px 0;
    color: white;
    padding-left: 8px;
}
.modal-edit-deleteButton{
    height: 38px;
    border-radius: 3px;
    border: 0;
    color: white;
    background-color: #868E96;
    font-size: 12px;
    margin: 16px 0;
    width: 46%;
    padding: 0 10px;
    width: 90%;
}
.modal-edit-deleteButton:hover {
    background-color: #FF427F;
}
.modal-edit form button {
    height: 38px;
    border-radius: 3px;
    border: 0;
    color: white;
    background-color: #59323F;
    font-size: 12px;
    margin: 16px 0;
    width: 100%;
    padding: 0 10px;
}
.modal-edit form button:hover {
    background-color: #FF427F;
}
.modal-edit-title button {
    padding: 3px 7px;
    border: 0;
    border-radius: 3px;
    color: #868E96;
    background-color:#343B41 ;
    margin: 0;
}