.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px  10%;
    box-sizing: border-box;
    background-color: #121214;
    border-bottom: 1px solid grey;
}
.header-logo {
    margin: 0;
    color: #FF427F;
    font-weight: bolder;
    font-size: 22px;
}
.header button {
    color: white;
    background-color: #212529;
    padding: 6px 12px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}
.header button:hover {
    background-color: #343B41;
}